.item img {
  width: 200px;
  height: 200px; 
  display: block;
  bottom: 30px;
  margin: auto;
  padding: 20px;
}

  main {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
  }

  .content {
    margin: auto;
    width: 50%;
    padding: 10px;
  }